	.clrImgContainer {
		float:left;
		border:2em;
		padding:2em;
		height:30em;
	}
	.clrImg {
		width:20em;	
	}
	.clrDiv {
		float: left;
		padding: 0.7em;
	}
	.imgDataContainer {
		background-color:grey;
		height:2em;
	}
	.imageList:after{
		clear: both;
	}
	.totalResult{
		clear: left;
	}
	.totalResult h3 {
		padding-top: 7em;
	}